.message {
    width: 350px;
    background: #a4c44f;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.message__avatar {
    padding: 30px 5px 5px 5px;

}

.message__avatar img {
    width: 50px;
    border-radius: 30px;
}

.message__block {
    display: flex;
    flex-direction: column;
    border-radius: 5px 5px 5px 0;
    background: #000;
    padding: 10px 0 0 15px;
    margin: 7px;
    font-size: 20px;
    position: relative;
}

.message__block:before{
    content:"";
    position:absolute;
    bottom: 0;
    left:-7px;
    height:10px;
    border-left:20px solid #000000;
    border-bottom-right-radius: 16px 14px;
    transform: rotate(181deg);
}

.message__name {
    color: #c452e8;
}

.message__text {
    color: antiquewhite;
}

.message__time {
    align-self: flex-end;
    color: #037e03;
    margin-right: 15px;

}