.input {
    height: 20px;
    background: grey;
    padding: 10px;
}

.input:focus {
    outline: none;
}
.superInput {
    margin: 10px;
    background: #e7dcdc;
    color: #110211;
}

.errorInput {
    margin: 10px;
    color: #61dafb;
    background: #ef1717;
    opacity: 0.8;
}