.default {
    background: #dde0db;
    color: black;
    outline: none;
}

@keyframes anim {
    0% {
        left: -130%
    }
    100% {
        left: 130%
    }
}

.red {
    background: #e56279;
    color: #050505;
}
.button {
    position: relative;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    padding: 3px 12px;
}
.button:after {
    display: block;
    content: '';
    position: absolute;
    left: -130%;
    top: 0;
    height: 100%;
    width: 20%;
    transfrom: skew(45deg);
    background: #ffffff;
    opacity: 0.7;
    z-index: 10;
}

.button:hover::after {
    animation: anim 0.35s linear;
}

.button:focus {
    outline: 1px solid #772514;
}
.button:active {
    background: #564745;
    color: white;
}


.button:disabled {
    opacity: 0.3;
}